{
  "root": true,
  "extends": ["@webdeveric/eslint-config-ts", "prettier"],
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "overrides": [
    {
      "files": ["./*.mjs", "./*.mts"],
      "parserOptions": {
        "project": ["./tsconfig.project-files.json"]
      }
    },
    {
      "files": ["**/*.test.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": ["off"]
      }
    }
  ]
}
