{
  "root": true,
  "extends": ["@webdeveric/eslint-config-ts", "plugin:import/recommended", "plugin:import/typescript", "prettier"],
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "settings": {
    "import/extensions": [".ts", ".mts", ".cts", ".js", ".mjs", ".cjs", ".json"],
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      },
      "node": {
        "extensions": [".ts", ".mts", ".cts", ".js", ".mjs", ".cjs"]
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".mts", ".cts"]
    }
  },
  "rules": {
    "import/first": "error",
    "import/no-absolute-path": "error",
    "import/no-cycle": "error",
    "import/no-deprecated": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["./build.mjs", "./vitest.config.mts", "**/*.test.ts"]
      }
    ],
    "import/no-relative-packages": "error",
    "import/no-self-import": "error",
    "import/no-unresolved": "error",
    "import/no-useless-path-segments": [
      "error",
      {
        "noUselessIndex": false
      }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": ["builtin", "external", "internal", "parent", ["sibling", "index"], "type"],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "@{src,commands}/**",
            "group": "internal",
            "position": "after"
          }
        ]
      }
    ],
    "sort-imports": "off"
  },
  "overrides": [
    {
      "files": ["./*.mjs", "./*.mts"],
      "parserOptions": {
        "project": ["./tsconfig.project-files.json"]
      }
    },
    {
      "files": ["**/*.test.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": ["off"]
      }
    }
  ]
}
